@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-family-system:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen-Sans",
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Twemoji Mozilla", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
    "EmojiOne Color", "Android Emoji";
  --animate-blink: blink 1.5s infinite both;
  @keyframes blink {
    0%,
    20%,
    100% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
  }
}

@variant dark (&:where(.dark, .dark *));
